
.main {
  border: 4px solid rgb(202, 115, 115);
  margin-top: 18vh;
  margin-left: 40vw;
  width: 20rem;
  height: 17rem;
  display:inline-table ;
  border-radius: 100%;
}

.square{
  width: 50%;
  height: 50%;
  overflow: hidden;
}

#top-left{
  background-color: red;
  border-color: red;
  border-top-left-radius: 100%;
}

#bottom-left{
  background-color: blue;
  border-color: blue;
  border-bottom-left-radius: 100%;
}

#top-right{
  background-color: green;
  border-color: green;
  border-top-right-radius: 100%;
}

#bottom-right{
  background-color: orange;
  border-color: orange;
  border-bottom-right-radius: 100%;
}

#comecar{
  margin-top: 0.625rem;
  margin-left: 50vw;
}

.selected{
  opacity: 40%;
}


